* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
}

main {
  min-height: 100vh;
  font-family: "Josefin-sans", sans-serif;
}

.content {
  background: url(images/bg-pattern-desktop.svg) no-repeat;
  background-size: 70% 100%;
  display: grid;
  grid-template-rows: repeat(10, 10vh);
  grid-template-columns: repeat(10, 10vw);
}

.logo {
  grid-row: 2/3;
  grid-column: 2/4;
}

.text {
  grid-row: 3/11;
  grid-column: 2/5;
}

.photo {
  grid-row: 1/11;
  grid-column: 7/11;
}

.photo img {
  width: 100%;
  height: 100%;
}

#first-line {
  color: var(--Desaturated-Red);
  font-weight: 500;
  font-style: normal;
  display: block;
}

.text h1 {
  padding-top: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1.2rem;
  font-size: 4rem;
  font-weight: 600;
}

p {
  color: var(--Desaturated-Red);
  padding-top: 1rem;
  line-height: 2rem;
}

form {
  position: relative;
  margin-top: 2rem;
}

.submit:hover {
  cursor: pointer;
}

form input {
  border-radius: 25px;
  padding: 1rem;
  width: 100%;
  border: 1px solid var(--Desaturated-Red);
}

form input::placeholder {
  color: var(--Desaturated-Red);
  padding-left: 1rem;
}

.submit {
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  position: absolute;
  right: 0px;
  top: -1px;
  border-radius: 25px;
  padding: 0.9rem 3rem;
  border: none;
  box-shadow: 0 0.5rem 20px hsl(0, 36%, 70%, 0.8);
}

.message {
  color: var(--Soft-Red);
  font-size: 0.8rem;
  line-height: 0;
  padding-left: 2rem;
}

.error-icon {
  position: absolute;
  right: 7.5rem;
  top: 0.75rem;
}

.hidden {
  display: none;
}

/*////////////////////////// small screen ///////////////////////*/
@media (max-width: 715px) {
  .content {
    display: flex;
    flex-direction: column;
    background-image: none;
  }

  .logo img {
    padding: 2rem;
    width: 10rem;
  }

  .photo {
    order: 2;
    content: url(images/hero-mobile.jpg);
  }

  .text {
    order: 3;
  }

  .text h1 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1rem;
  }

  p {
    padding: 1rem 2.2rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  form {
    margin: 1rem 2.2rem;
  }

  .submit {
    padding: 0.6rem 1.5rem;
  }

  form input {
    padding: 0.7rem;
  }

  .message {
    padding-left: 3rem;
    text-align: start;
  }

  .error-icon {
    right: 4rem;
    top: 0.5rem;
  }
}
